@model GestionRH.Models.MantenimientoCargo

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro de que quieres eliminar este cargo?</h3>
<div>
    <h4>Mantenimiento del Cargo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoCargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCargo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
