@model GestionRH.Models.MantenimientoEmpleado

@{
    ViewData["Title"] = "Delete";
}

<h1>Despidos</h1>

<h3>Inhabilitar Empleado</h3>

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Nombre)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Nombre)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Apellido)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Apellido)
</dd>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Borrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group form-check">

                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estatus" />@if (Model.Estatus == true)
                    {@Html.DisplayName("Activo")}
                else
                {@Html.DisplayName("Inactivo")}
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Inhabilitar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">volver a Lista Completa</a>
</div>
