
@{
    ViewData["Title"] = "FallosLicencias";
}


<h1>GestionRH</h1>

<p>No se LLeno el Formulario Correctamente!</p>

<p>Intentelo otra vez!</p>

<a asp-controller="Empleados" asp-action="Licencias">Volver al Formulario</a>