@{
    ViewBag.Title = "About";
}
<h2>Informacion</h2>
<h3>@ViewBag.Message</h3>

<address>
    GestionRH<br />
    Realizado mediante estudiantes ITLA<br />

    Instituto Tecnologico de Las Americas (ITLA)<br />

    Materia: Programacion III<br />

    Profesor: Juan Rosario (Johan)<br />

</address>
<p>_____________________________________________________________________________</p>

<address>

    Luis Enrique Ramirez Feliz<br />

    Materia: Programacion III<br />

    Matricula: 2016-4076<br />

</address>

<address>
    <strong>Correo primario:</strong>   <a href="mailto:lerf1010@outlook.com">lerf1010@outlook.com</a><br />
    <strong>Correo secundario:</strong> <a href="mailto:20164076@itla.edu.do">20164076@itla.edu.do</a>
</address>

<p>_____________________________________________________________________________</p>

<address>

    Juan Gilberto Perez Rosario<br />

    Materia: Programacion III<br />

    Matricula: 2017-5004<br />

</address>

<address>
    <strong>Correo primario:</strong>   <a href="mailto:jgilbertoperez@hotmail.com">jgilbertoperez@hotmail.com</a><br />
    <strong>Correo secundario:</strong> <a href="mailto:20175004@itla.edu.do">20175004@itla.edu.do</a>
</address>