
@{
    ViewData["Title"] = "Fallos";
}

<h1>GestionRH</h1>

<p>No se LLeno el Formulario Correctamente!</p>

<p>Intentelo otra vez!</p>

<a asp-controller="Salida" asp-action="Create">Volver al Formulario</a>

